.Barra{
    background-color: rgb(212, 30, 130);
    color: #fff;
    font-style: oblique;
    font-weight: bolder;
}
.nav-menu {
    display: flex;
    list-style: none;
    
  }
  .nav-menu li {
    margin-right:10%;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  }
  .nav-menu li a {
    color: #fff;
    text-decoration: none;
  }
  .nav-menu  li:hover{
    background-color: #0672ff;
  color: #333;
  }
  .cart-icon {
    position: relative;
  }
  
  .cart-count {
    position: absolute;
    top: -8px;
    right: -8px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 4px;
    font-size: 12px;
  }
